<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://JAVA.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
   <servlet>
        <servlet-name>RegisterServlett</servlet-name>
        <servlet-class>com.servlets.RegisterServlet</servlet-class>
        
    </servlet>
  	
  	<servlet-mapping>
  <servlet-name>RegisterServlett</servlet-name>
  <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  	
  	  
    <servlet>
        <servlet-name>LoginServlett</servlet-name>
        <servlet-class>com.servlets.LoginServlet</servlet-class>
    </servlet>
    
  
	<servlet-mapping>
  <servlet-name>LoginServlett</servlet-name>
  <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>


<servlet>
        <servlet-name>LogoutServlett</servlet-name>
        <servlet-class>com.servlets.LogoutServlet</servlet-class>
    </servlet>
    
  
	<servlet-mapping>
  <servlet-name>LogoutServlett</servlet-name>
  <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>

<servlet>
        <servlet-name>EditServlett</servlet-name>
        <servlet-class>com.servlets.EditServlet</servlet-class>
    </servlet>
    
  
	<servlet-mapping>
  <servlet-name>EditServlett</servlet-name>
  <url-pattern>/EditServlet</url-pattern>
  </servlet-mapping>

 <servlet>
        <servlet-name>AddPostServlett</servlet-name>
        <servlet-class>com.servlets.AddPostServlet</servlet-class>
        
    </servlet>
  	
  	<servlet-mapping>
  <servlet-name>AddPostServlett</servlet-name>
  <url-pattern>/AddPostServlet</url-pattern>
  </servlet-mapping>
  
<servlet>
        <servlet-name>LikeServlett</servlet-name>
        <servlet-class>com.servlets.LikeServlet</servlet-class>
        
    </servlet>
  	
  	<servlet-mapping>
  <servlet-name>LikeServlett</servlet-name>
  <url-pattern>/LikeServlet</url-pattern>
  </servlet-mapping>
  


</web-app>